body {
  width: 150px;
  height: 150px;
  background-color: #191918;
  /* background-color: white; */
  display: grid;
  justify-content: center;
}

h3 {
  /* display: inner-flex; */
  margin: auto 10px;
  font-size: 15px;
  color: white;
  /* color: blue; */
  border-radius: 6px;
  border: 1px solid #fe0100;
  padding: 10px;
}
button {
  cursor: pointer;
}

.github__icon {
  align-items: center;
  margin: 50%;
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
p {
  font-size: 10px;
}
.source__code {
  display: flex;
  align-items: center;
  justify-content: center;
}
